
@import "compass/css3/box-shadow";

#main-region {
  margin-top: 70px;
  #three-col {
    @extend .row;
  }
  #profile {
    @extend .thumbnail;
    @extend .col-sm-6, .col-sm-offset-3;
    img {
      @extend .img-rounded;
      margin-top: 15px;
      @include box-shadow(#999 4px 4px 10px);;
    } 
    table {
      @extend .table, .table-condensed;
      margin-bottom: 0;
      tbody tr:nth-child(1) td {
        border-top-style: none; 
      } 
    }
    #detail {
      @extend .caption;
      > div:first-of-type {
          @extend .well, .well-sm;
      }
      h3, p {
        text-align: center;
      }
      a {
        @extend .btn, .btn-default, .btn-sm;
      }
      #profilenav {
        @extend .row;
        div {
          @extend .col-sm-6;
          text-align: center;
          a {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}

#panel-region {
  #users_panel {
    @extend .panel, .panel-default;
    div:first-child {
      @extend .panel-heading;
      h3 {
        @extend .panel-title;
      }
    }
    div:last-child {
      @extend .panel-body;
    }
  }
}

#users-region table {
  @extend .table, .table-hover, .table-bordered;
}

