<div id="header-region"></div>
<div id="main-region" class="container"></div>
<div id="footer-region"></div>

<script>
  $(function() {
    BMRDemo.start({
      currentUser: gon.current_user[0]
    });
    return $("#toprightnav a").on("click", function() {
      $("nav#header button").click();
    });
  });
</script>

