<div id="header-region"></div>
<div id="main-region" class="container"></div>
<div id="footer-region"></div>

<script>
  $(function() {
    return BMRDemo.start({
      currentUser: gon.current_user[0]
    });
  });
</script>

